# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# SQLite Database
db.sqlite3

# Static Files (collected)
staticfiles/

# Django Secrets and Environment Variables
.env

# VS Code settings (optional)
.vscode/
